# Editor-specific
.idea/
*.sublime-project
*.sublime-workspace
.settings

# Installed libs
node_modules/
typings/

# Wasm binary
src/lib/hunspell.js

# Generated
dist/
tmp/
coverage/
img/
spec-js/
.nyc_output/
rules/

# Misc
npm-debug.log
.DS_STORE
