perf
spec
.git
yarn.lock
coverage
typings/
.vscode/
src/
test/
!dist/src
examples/
.travis.yml
appveyor.yml
jest-hunspell.json
jest-hunspell-asm.json
tsconfg.json
tslint.json
wallaby.js
dist/src/lib/README.md