perf
spec
.git
yarn.lock
coverage
typings/
.vscode/
test/
examples/
.travis.yml
appveyor.yml
jest-hunspell.json
jest-hunspell-asm.json
tsconfg.json
tslint.json
wallaby.js
dist/src/lib/README.md
commitlint.config.js
tsconfig.json
bootstrap.ts
*.tgz